.activityFormContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1vh;
}
.activityFormWrapper {
    width: 100%;
    padding: 4vh 5%;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    text-transform: capitalize;
    background: white;
    border: 1px solid hsl(0, 0%, 90%);
    border-radius: 10px;
}

.activityFormList {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 1.25vh;
    position: relative;
}
.activityFormListInput,
.activityFormListTextarea {
    width: 100%;
    position: relative;
}

.activityFormInputLabelDown,
.activityFormInputLabelTextareaDown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 1em;
    left: 10px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #cccccc;
    background: transparent;
    transition: 0.4s ease;
}

.activityFormListInput:focus-within .activityFormInputLabelDown,
.activityFormListTextarea:focus-within .activityFormInputLabelTextareaDown,
.activityFormInputLabelUp,
.activityFormInputLabelTextareaUp {
    padding: 0 2px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -0.5em;
    left: 5px;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #808080;
    background: white;
    border-radius: 3px;
    transition: 0.2s ease;
}

.activityFormListInput:focus-within .activityFormInputLabelDown,
.activityFormListTextarea:focus-within .activityFormInputLabelTextareaDown {
    color: black;
    font-weight: 400;
}

.activityFormInput:focus-within ~ .activityFormInputLabelUp,
.activityFormTextarea:focus-within ~ .activityFormInputLabelUp {
    color: black;
    font-weight: 400;
}

.activityFormInput,
.activityFormTextarea {
    width: 100%;
    padding: 1em 10px;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 400;
    line-height: 1.25;
    color: black;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 5px;
}
.activityFormInput::placeholder,
.activityFormTextarea::placeholder {
    font-weight: 300;
    color: transparent;
}

.activityFormInputName::placeholder {
    font-weight: 400;
}

.activityFormTextarea {
    height: 8vh;
    resize: vertical;
}

.activityFormBtnContainer {
    width: 100%;
    margin-top: 2vh;
    padding-top: 2vh;
    border-top: 1px dashed hsla(211, 15%, 75%, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.activityFormBtnWrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activityFormBtnCancel,
.activityFormBtnSubmit {
    width: 100%;
    padding: 1.5vh 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    font-family: 'Roboto';
    font-size: calc(10px + 0.5vmin);
    font-weight: 500;
    background: hsl(0, 0%, 100%);
    transition: 0.15s ease;
    cursor: pointer;
}

.activityFormBtnCancel {
    color: hsl(0, 0%, 20%);
    border-color: hsl(0, 0%, 20%);
    border-left-width: 1px;
}
.activityFormBtnCancel:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(210, 0%, 20%);
}

.activityFormBtnSubmit {
    color: hsl(110, 80%, 30%);
    border-color: hsl(110, 80%, 30%);
    border-right-width: 1px;
}
.activityFormBtnSubmit:hover {
    color: white;
    background: hsl(110, 80%, 30%);
}
